* {
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.25; 
    margin: 0;
}

body {
    margin: 0%;
    color: #f5f3f0;
    background-color: #070127;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    width: 80%; 
    height: 100%; 
    margin: 0 auto;

    /**CHANGE LATER BECAUSE IT ONLY REALLY WORKS (PROPERLY) FOR A CERTAIN SCREEN SIZE**/
    max-width: 2560px; 
}

section {
    height: 100vh; 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

#landing {
    background-image: url('placeholder-bg/landing.webp');

    position: relative; 
    overflow: hidden;
}

#landing img {
    position: absolute; 
    bottom: 0; 
    width: 100%;

    /**controls stacking order -- appears below most things (max: 1000)**/
    z-index: 1;
}

#home, #about, #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#home {
    background-image: url('placeholder-bg/home.webp');
}

.sticky-home {
    position: fixed;
    top: 2rem;
    right: 2rem; 
    left: unset; 
    
    z-index: 999;
}

#about {
    background-image: url('placeholder-bg/about.webp');
}

#projects {
    background-image: url('placeholder-bg/projects.webp');

    padding: 10% 0 5% 0;

    display: flex;
    flex-direction: column;

    /**override section rule**/
    height: 100vh; 
    margin: 0; 
    box-sizing: border-box; 
}

.project-scroll {
    overflow-y: scroll; 

    min-height: 0;

    /**takes up leftover height after header**/
    flex: 1; 
}

.project-scroll::-webkit-scrollbar {
    display: none;
}

#contact {
    background-image: url('placeholder-bg/contact.webp');
}

/**currently center is NOT used**/
.center {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.left {
    display: block; 
    margin-left: 0;
    margin-right: auto;
}

.right {
    display: block; 
    margin-left: auto;
    margin-right: 0;
}

.two-column7 {
    margin: 0 10%;
    display: grid; 
    grid-template-columns: 70% auto;
}

.two-column6 {
    margin: 0 10%;
    display: grid; 
    grid-template-columns: 60% auto;
}

.two-column5 {
    margin: 0 10%;
    display: grid; 
    grid-template-columns: 50% auto;
}

.three-by-three {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
}

h1, h2 {
    font-family: 'Elsie Swash Caps', serif; 
    font-weight: 900; 
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
    margin-bottom: 1.5rem;
}

h4 {
    font-family: serif;
    font-size: 2.5em;
    margin-bottom: 2.5rem; 
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 1.25em;
    margin-bottom: 2rem;
}