* {
    letter-spacing: normal;
    word-spacing: normal;
    line-height: 1.25; 
    margin: 0;
}

html {
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    scrollbar-width: none;    
}

html::-webkit-scrollbar {
    display: none;
    width: 0; 
}

body {
    margin: 0;
    color: #f5f3f0;
    background-color: #070127;
}

section {
    height: 100vh; 
    background-size: cover;
    background-position: center; 

    scroll-snap-align: start;

    background-size: 700px 700px, cover;
    background-repeat: repeat, no-repeat;
}

.dropbutton {
    width: 40px;
    padding-bottom: 20px;
    display: block;
}

.dropdown {
    position: fixed; 
    top: 2rem;
    right: 2rem;
    z-index: 999;

    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute; 
    right: 0; 
    min-width: 100px; 
    z-index: 1;
    
    font-size: 1.25em;
}

.dropdown-content a {
    color: #f5f3f0; 
    padding: 8px 0 8px 8px;
    text-decoration: none;
    display: block; 
    text-align: right;
}

.dropdown-content a:hover {
    color: #f5f3f0;
    font-weight: bold;
    font-size: 1.3em; 
}

.dropdown:hover .dropdown-content {
    display: block; 
}

.dropdown:hover .dropbutton {
    filter: drop-shadow(0 0 12px #f5f3f0); /**offset-x, offset-y, blur-radius, color **/
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 0 #f5f3f0);
    }
    to {
        filter: drop-shadow(0 0 12px #f5f3f0);
    }
}

#landing {
    background-image: url('assets/stars.svg'), url('assets/placeholder-bg/landing.webp');

    position: relative; 
    overflow: hidden;
}

#landing img {
    position: absolute; 
    bottom: 0; 
    width: 100%;
    height: 100%; 
    object-fit: cover;

    /**controls stacking order -- appears below most things (max: 1000)**/
    z-index: 1;
}

#moon {
    /** name, duration, timing, iteration-count **/
    animation: glow 2s ease-in-out infinite alternate;
}

#home, #about, #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

#home {
    background-image: url('assets/stars.svg'), linear-gradient(to bottom, #070127, #141A67);
}

#about {
    background-image: url('assets/stars.svg'), linear-gradient(to bottom, #141A67, #454F97);
}

#projects {
    background-image: url('assets/stars.svg'), linear-gradient(to bottom, #454F97, #8495CF);

    padding: 10% 0 5% 0;

    display: flex;
    flex-direction: column;

    /**override section rule**/
    height: 100vh; 
    margin: 0; 
    box-sizing: border-box; 
}

.project-box {
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    row-gap: 2rem;
}

.project-scroll {
    overflow-y: scroll; 

    min-height: 0;
    /**takes up leftover height after header**/
    flex: 1; 
}

.project-scroll::-webkit-scrollbar {
    display: none;
}

.project-box a {
    text-decoration: none;
    color: #f5f3f0;
}

.img-frame {
    flex: 0 1 calc(33.333% - 1rem);
    width: 450px;
    height: 300px; 
    overflow: hidden; 
    border-radius: 25px;
    margin-bottom: 1rem;
}

.img-frame img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    display: block;
}

.wispwork-card {
    background: linear-gradient(to bottom, #070127, #141A67);
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.wispwork-card img {
    width: 60%; 
    height: auto; 
    object-fit: unset; /**overrides the "object-fit: cover" from earlier**/
}

#contact {
    background-image: url('assets/stars.svg'), linear-gradient(to bottom, #8495CF, #5E7FCB);
}

.icon:hover {
    filter: drop-shadow(0 0 20px #f5f3f0); /**offset-x, offset-y, blur-radius, color **/
}

.two-column7 {
    margin: 0 10%;
    display: grid; 
    grid-template-columns: 70% auto;
}

.two-column6 {
    margin: 0 10%;
    display: grid; 
    grid-template-columns: 60% auto;
}

.two-column5 {
    margin: 0 10%;
    display: grid; 
    grid-template-columns: 50% auto;
}

.three-by-three {
    display: grid; 
    grid-template-columns: repeat(3, 150px); 
    grid-template-rows: repeat(3, 150px); 
}

.center {
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.left {
    display: block; 
    margin-left: 0;
    margin-right: auto;
}

.right {
    display: block; 
    margin-left: auto;
    margin-right: 0;
}

h1, h2 {
    font-family: 'Elsie Swash Caps', serif; 
    font-weight: 900; 
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
    margin-bottom: 1.5rem;
}

h4 {
    font-family: serif;
    font-size: 2.5em;
    margin-bottom: 2.5rem; 
}

p {
    font-family: 'Jost', sans-serif;
    font-size: 1.25em;
    margin-bottom: 2rem;
}